<% layout("layouts/boilerplate.ejs") %> 

<div class="container d-flex vh-100 justify-content-center align-items-center">
  <a href="/checkout/pay">
    <button class="btn btn-primary">Navigate to Checkout</button>
  </a>
</div>